<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-material-payment-form" class="new-material-payment-container"
                  th:action="@{/paymentsAmountPage/index/add}" method="post">
                <div class="some-text" th:text="'Новая сумма выплаты'">
                </div>
                <div class="new-material-payment-inputs new-inputs">
                    <input type="number" step="0.01" class="title-input new-material-payment-input" placeholder="Сумма выплаты"
                           autofocus min="0" required="required" th:field="${newMaterialPayment.paymentAmount}"/>
                    <select name="groundsForFinPayment" th:field="${newMaterialPayment.groundsForFinPayment.groundId}">
                        <option disabled value="">Выберите основание</option>
                        <option th:each="ground : ${grounds}" th:value="${ground.groundId}" th:utext="${ground.groundText}"></option>
                    </select>
                </div>
                <div class="bottom-new-material-payment-buttons">
                    <button type="submit" class="confirm-add-new-material-payment-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>
        </dialog>
        <a class="new-material-payment-add-button open-add-dialog open-dialog" th:onclick="
                            let divParent = this.closest('div');
                            let dialogCloseButton = divParent.querySelector('.new-material-payment-container').querySelector('.bottom-new-material-payment-buttons').querySelector('.close-add-dialog');
                            let addDialog = divParent.querySelector('#add-dialog');
                            addDialog.show();
                            dialogCloseButton.onclick = function(){
                            addDialog.close();}">Добавить материальную выплату
        </a>
        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект">Распечатать</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%">id</th>
            <th style="width: 10%">Сумма</th>
            <th style="width: 60%">Основание выплаты</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(materialPayments.size() - 1, 0, -1)}" th:with="materialPayment=${materialPayments[i]}" class="table-row">

            <td style="text-align: center">
                <div class="table-cell" th:text="${materialPayment.materialPaymentId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${materialPayment.paymentAmount}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${materialPayment.groundsForFinPayment.groundText}">
                </div>
            </td>



            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="update-dialog" class="update-dialog dialog">
                        <form th:fragment="update-material-payment-form" class="update-material-payment-container"
                              th:action="@{'/paymentsAmountPage/index/update/'+${materialPayment.materialPaymentId}}" method="post">
                            <div class="some-text" th:text="'Изменение материальной выплаты'">
                            </div>
                            <div class="update-material-payment-inputs update-inputs">
                                <input type="number" step="0.01" class="title-input update-material-payment-input" placeholder="Сумма выплаты"
                                       autofocus min="0" required="required" th:value="${materialPayment.paymentAmount}" name="paymentAmount"/>
                                <select name="groundsForFinPayment" th:field="${updateMaterialPayment.groundsForFinPayment.groundId}">
                                    <option disabled value="">Выберите основание</option>
                                    <option th:each="ground : ${grounds}" th:value="${ground.groundId}" th:utext="${ground.groundText}"></option>
                                </select>
                            </div>
                            <div class="bottom-update-material-payment-buttons">
                                <button type="submit" class="confirm-update-material-payment-button dialog-button">Изменить
                                </button>
                                <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                            </div>
                        </form>

                    </dialog>
                    <a class="material-payment-update-button open-update-dialog open-dialog" th:onclick="
                                let tdParent = this.closest('td');
                                let dialogCloseButton = tdParent.querySelector('.update-material-payment-container').querySelector('.bottom-update-material-payment-buttons').querySelector('.close-update-dialog');
                                let updateDialog = tdParent.querySelector('#update-dialog');
                                updateDialog.show();
                                dialogCloseButton.onclick = function(){
                                updateDialog.close();}">Изменить
                    </a>
                </div>
            </td>

            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="delete-dialog" class="delete-dialog dialog">
                        <div class="some-text"
                             th:text="'Вы действительно хотите удалить материальную выплату с id ' + ${materialPayment.materialPaymentId} + '?'">
                            Удаление
                        </div>
                        <a class="dialog-button" id="confirm-delete-material-payment-button"
                           th:href="@{'/paymentsAmountPage/index/delete/'+${materialPayment.materialPaymentId}}">Да</a>
                        <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                    </dialog>
                    <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                    <a class="material-payment-delete-button open-delete-dialog open-dialog" th:onclick="
                                    let tdParent = this.closest('td');
                                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                                    deleteDialog.show();
                                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                                    deleteDialog.close();}">Удалить
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
