<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="to-something-new-button-search">
        <form th:action="@{/searchMemberPage/index/findBySurname}" class="upper-block-part">
            <input type="text" class="search-input" placeholder="Фамилия"
                   autofocus required="required" th:field="${searchUnionMember.surname}"/>
            <button type="submit" class="search-input">Поиск по фамилии</button>
        </form>
        <form th:action="@{/searchMemberPage/index/findByPosition}"  class="upper-block-part">
            <select class="search-input" name="position" th:field="${searchUnionMember.position.positionId}">
                <option disabled value="">Выберите должность</option>
                <option th:each="position : ${positions}" th:value="${position.positionId}"
                        th:utext="${position.positionTitle}"></option>
            </select>
            <button type="submit" class="search-input">Поиск по должности</button>
        </form>

        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект"  class="upper-block-part">Распечатать</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th style="width: 5%">id</th>
            <th style="width: 10%">Фамилия</th>
            <th style="width: 10%">Имя</th>
            <th style="width: 10%">Отчество</th>
            <th style="width: 10%">Дата рождения</th>
            <th style="width: 10%">Пол</th>
            <th style="width: 10%">Должность</th>
            <th style="width: 10%">Номер телефона</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(unionMembersTable.size() - 1, 0, -1)}"
            th:with="unionMember=${unionMembersTable[i]}"
            class="table-row">

            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.unionMemberId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.surname}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.name}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.patronymic}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.gender.genderTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.position.positionTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.phoneNumbers[0].phoneNumber}">
                </div>
            </td>


        </tr>
        </tbody>
    </table>
</div>
