<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-member-org-form" class="new-member-org-container"
                  th:action="@{/unionMemPubOrgPage/index/add}" method="post">
                <div class="some-text" th:text="'Новый член организации'">
                </div>

                <div class="new-member-org-inputs new-inputs">
                    <select required name="publicOrganization.publicOrganizationId" >
                        <option disabled value="" selected>Выберите организацию</option>
                        <option th:each="publicOrganization : ${publicOrganizations}" th:value="${publicOrganization.publicOrganizationId}"
                                th:utext="${publicOrganization.publicOrganizationTitle}" ></option>
                    </select>
                    <select required name="unionMember.unionMemberId" >
                        <option disabled value="" selected>Выберите члена</option>
                        <option th:each="unionMember : ${unionMembersTable}" th:value="${unionMember.unionMemberId}" th:utext="${unionMember.getIdAndName()}"></option>
                    </select>
                </div>
                <div class="bottom-new-member-org-buttons">
                    <button type="submit" class="confirm-add-new-member-org-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>
        </dialog>
        <a class="new-member-org-add-button open-add-dialog open-dialog" th:onclick="
                            let divParent = this.closest('div');
                            let dialogCloseButton = divParent.querySelector('.new-member-org-container').querySelector('.bottom-new-member-org-buttons').querySelector('.close-add-dialog');
                            let addDialog = divParent.querySelector('#add-dialog');
                            addDialog.show();
                            dialogCloseButton.onclick = function(){
                            addDialog.close();}">Добавить нового члена в организацию
        </a>
        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект">Распечатать</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th style="width: 25%">Общественная организация</th>
            <th style="width: 5%">id</th>
            <th style="width: 20%">Фамилия</th>
            <th style="width: 20%">Имя</th>
            <th style="width: 20%">Отчество</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(unionMembersPublicOrganizations.size() - 1, 0, -1)}" th:with="unit=${unionMembersPublicOrganizations[i]}" class="table-row">
            <td style="text-align: center">
                <div class="table-cell" th:text="${unit.publicOrganization.publicOrganizationTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unit.unionMember.unionMemberId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unit.unionMember.surname}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unit.unionMember.name}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unit.unionMember.patronymic}">
                </div>
            </td>



            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="delete-dialog" class="delete-dialog dialog">
                        <div class="some-text"
                             th:text="'Вы действительно хотите убрать из организации члена с id ' + ${unit.unionMember.unionMemberId} + '?'">
                            Удаление
                        </div>
                        <a class="dialog-button" id="confirm-delete-member-org-button"
                           th:href="@{'/unionMemPubOrgPage/index/delete/'+${unit.unionMember.unionMemberId}+'/'+${unit.publicOrganization.publicOrganizationId}}">Да</a>
                        <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                    </dialog>
                    <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                    <a class="member-org-delete-button open-delete-dialog open-dialog" th:onclick="
                                    let tdParent = this.closest('td');
                                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                                    deleteDialog.show();
                                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                                    deleteDialog.close();}">Удалить
                    </a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
