<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="to-something-new-button-report">
        <a th:href="@{/reportsPage/index/children13}">Список детей до 14 лет</a>
        <a th:href="@{/reportsPage/index/pensioners}">Список пенсионеров</a>
        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект">Распечатать</a>
    </div>

            <table class="table" th:if="${tableMode.mode==1}">
                <thead>
                <tr>
                    <th style="width: 5%">id род.</th>
                    <th style="width: 10%">Фамилия род.</th>
                    <th style="width: 10%">Имя род.</th>
                    <th style="width: 10%">Отчество род.</th>
                    <th style="width: 5%">id реб.</th>
                    <th style="width: 10%">Фамилия реб.</th>
                    <th style="width: 10%">Имя реб.</th>
                    <th style="width: 10%">Отчество реб.</th>
                    <th style="width: 10%">Дата рождения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${#numbers.sequence(parentsChildren.size() - 1, 0, -1)}"
                    th:with="parentChild=${parentsChildren[i]}" class="table-row">

                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.unionMemberId}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.surname}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.name}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.patronymic}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.childId}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.surname}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.name}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.patronymic}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.getDateInNormalFormat()}">
                        </div>
                    </td>


        </tr>
        </tbody>
    </table>


    <table class="table" th:if="${tableMode.mode==2}">
        <thead>
        <tr>
            <th style="width: 5%">id</th>
            <th style="width: 10%">Фамилия</th>
            <th style="width: 10%">Имя</th>
            <th style="width: 10%">Отчество</th>
            <th style="width: 10%">Дата рождения</th>
            <th style="width: 10%">Пол</th>
            <th style="width: 10%">Должность</th>
            <th style="width: 10%">Номер телефона</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(unionMembersTable.size() - 1, 0, -1)}"
            th:with="unionMember=${unionMembersTable[i]}"
            class="table-row">

            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.unionMemberId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.surname}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.name}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.patronymic}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.gender.genderTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.position.positionTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${unionMember.phoneNumbers[0].phoneNumber}">
                </div>
            </td>



        </tr>
        </tbody>
    </table>
</div>
