<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-application-type-form" class="new-application-type-container"
                  th:action="@{/applicationTypesPage/index/add}" method="post">
                <div class="some-text" th:text="'Новый тип заявления'">
                </div>
                <div class="new-application-type-inputs new-inputs">
                    <input type="text" class="title-input new-application-type-input" placeholder="Название типа заявления"
                           autofocus required="required" th:field="${newApplicationType.applicationTypeTitle}"/>
                </div>
                <div class="bottom-new-application-type-buttons">
                    <button type="submit" class="confirm-add-new-application-type-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>
        </dialog>
        <a class="new-application-type-add-button open-add-dialog open-dialog" th:onclick="
                            let divParent = this.closest('div');
                            let dialogCloseButton = divParent.querySelector('.new-application-type-container').querySelector('.bottom-new-application-type-buttons').querySelector('.close-add-dialog');
                            let addDialog = divParent.querySelector('#add-dialog');
                            addDialog.show();
                            dialogCloseButton.onclick = function(){
                            addDialog.close();}">Добавить тип заявления
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%">id</th>
            <th style="width: 70%">Тип заявления</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(applicationTypes.size() - 1, 0, -1)}" th:with="applicationType=${applicationTypes[i]}" class="table-row">

            <td style="text-align: center">
                <div class="table-cell" th:text="${applicationType.applicationTypeId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${applicationType.applicationTypeTitle}">
                </div>
            </td>




            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="update-dialog" class="update-dialog dialog">
                        <form th:fragment="update-application-type-form" class="update-application-type-container"
                              th:action="@{'/applicationTypesPage/index/update/'+${applicationType.applicationTypeId}}" method="post">
                            <div class="some-text" th:text="'Изменение типа заявления'">
                            </div>
                            <div class="update-application-type-inputs update-inputs">
                                <input type="text" class="title-input update-application-type-input" placeholder="Название типа заявления"
                                       autofocus required="required" th:value="${applicationType.applicationTypeTitle}" name="applicationTypeTitle"/>
                            </div>
                            <div class="bottom-update-application-type-buttons">
                                <button type="submit" class="confirm-update-application-type-button dialog-button">Изменить
                                </button>
                                <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                            </div>
                        </form>

                    </dialog>
                    <a class="application-type-update-button open-update-dialog open-dialog" th:onclick="
                                let tdParent = this.closest('td');
                                let dialogCloseButton = tdParent.querySelector('.update-application-type-container').querySelector('.bottom-update-application-type-buttons').querySelector('.close-update-dialog');
                                let updateDialog = tdParent.querySelector('#update-dialog');
                                updateDialog.show();
                                dialogCloseButton.onclick = function(){
                                updateDialog.close();}">Изменить
                    </a>
                </div>
            </td>

            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="delete-dialog" class="delete-dialog dialog">
                        <div class="some-text"
                             th:text="'Вы действительно хотите удалить тип заявления с id ' + ${applicationType.applicationTypeId} + '?'">
                            Удаление
                        </div>
                        <a class="dialog-button" id="confirm-delete-application-type-button"
                           th:href="@{'/applicationTypesPage/index/delete/'+${applicationType.applicationTypeId}}">Да</a>
                        <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                    </dialog>
                    <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                    <a class="application-type-delete-button open-delete-dialog open-dialog" th:onclick="
                                    let tdParent = this.closest('td');
                                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                                    deleteDialog.show();
                                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                                    deleteDialog.close();}">Удалить
                    </a>
                </div>
            </td>

            <!--            <td style="text-align: center" th:if="${checkUser.isAdmin()}">-->
<!--                <dialog id="update-dialog" class="update-dialog dialog">-->
<!--                    <form th:fragment="unionMember-form" class="unionMember-container"-->
<!--                          th:action="@{'/mainPage/index/update/'+${unionMember.bookId}}" method="post">-->
<!--                        <div class="some-text" th:text="'Изменение данных книги ' + ${unionMember.title}">-->
<!--                            Изменение-->
<!--                        </div>-->
<!--                        <div class="unionMember-inputs" >-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Название книги"-->
<!--                                   autofocus required="required" th:value="${unionMember.title}" th:name="title"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Автор"-->
<!--                                   autofocus required="required" th:value="${unionMember.position.authorName}" th:name="position.authorName"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Издательство"-->
<!--                                   autofocus required="required"-->
<!--                                   th:name="materialPayment.publisherTitle" th:value="${unionMember.materialPayment.publisherTitle}"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Жанр"-->
<!--                                   autofocus required="required" th:value="${unionMember.genre.genreName}" th:name="genre.genreName"/>-->
<!--                            <input type="text" value="loh" class="phoneNumber-input unionMember-input" placeholder="Язык"-->
<!--                                   autofocus required="required" th:value="${unionMember.groundsForFinPayment.languageName}" th:name="groundsForFinPayment.languageName"/>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <input type="text" name="username" class="user-input" placeholder="Имя пользователя"&ndash;&gt;-->
<!--                        &lt;!&ndash;                               autofocus="true" required="required" th:value="${user.username}" th:field="${updateUser.username}"/>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <input type="text" name="password" class="user-input" placeholder="Пароль"&ndash;&gt;-->
<!--                        &lt;!&ndash;                               autofocus="true" required="required" th:field="${updateUser.password}"/>&ndash;&gt;-->
<!--                        <div class="bottom-unionMember-buttons">-->
<!--                            <button type="submit" class="confirm-update-unionMember-button dialog-button">Изменить</button>-->
<!--                            <button type="button" class="close-update-dialog dialog-button">Отмена</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    &lt;!&ndash;        <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">some error error error error error</span>&ndash;&gt;-->
<!--                    &lt;!&ndash;        <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">some error error error error error</span>&ndash;&gt;-->
<!--                </dialog>-->
<!--                <a class="unionMember-update-button open-update-dialog open-dialog" th:onclick="-->
<!--                    let tdParent = this.closest('td');-->
<!--                    let dialogCloseButton = tdParent.querySelector('.unionMember-container').querySelector('.bottom-unionMember-buttons').querySelector('.close-update-dialog');-->
<!--                    let updateDialog = tdParent.querySelector('#update-dialog');-->
<!--                    updateDialog.show();-->
<!--                    dialogCloseButton.onclick = function(){-->
<!--                    updateDialog.close();}">Изменить-->
<!--                </a>-->
<!--            </td>-->

<!--            <td style="text-align: center" class="delete-button-td" th:if="${checkUser.isAdmin()}">-->
<!--                <dialog id="delete-dialog" class="delete-dialog dialog">-->
<!--                    <div class="some-text" th:text="'Вы действительно хотите удалить книгу ' + ${unionMember.title} + '?'">-->
<!--                        Удаление-->
<!--                    </div>-->
<!--                    <a class="dialog-button" id="confirm-delete-unionMember-button"-->
<!--                       th:href="@{'/mainPage/index/delete/'+${unionMember.bookId}}">Да</a>-->
<!--                    <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>-->
<!--                </dialog>-->
<!--                &lt;!&ndash;                th:href="@{'/userPage/index/delete/id='+${user.userId}}"&ndash;&gt;-->
<!--                <a class="unionMember-delete-button open-delete-dialog open-dialog" th:onclick="-->
<!--                    let tdParent = this.closest('td');-->
<!--                    let deleteDialog = tdParent.querySelector('#delete-dialog');-->
<!--                    deleteDialog.show();-->
<!--                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){-->
<!--                    deleteDialog.close();}">Удалить-->
<!--                </a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
