<header th:if="${checkUser.isAdmin()}" th:fragment="header" class="header" xmlns:th="">
    <a class="header-button unionMembers-header-button" th:href="@{../../../../mainPage/index}">Сотрудники</a>
<!--    <a class="header-button clients-header-button" th:href="@{../../../../clientsPage/index}">Дети сотрудников</a>-->
<!--    <a class="header-button supplies-header-button" th:href="@{../../../../suppliesPage/index}">Сотрудники в общественных организациях</a>-->
<!--    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Общественные организации</a>-->
<!--    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Должности</a>-->
    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Заявления членов профсоюза</a>
<!--    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Типы заявлений</a>-->
    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Суммы выплат</a>
<!--    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Основания материмальных выплат</a>-->
    <a class="header-button sales-header-button" th:href="@{../../../../salesPage/index}">Протоколы заседаний</a>
    <a class="header-button sql-header-button" th:href="@{../../../../sqlPage/index}">SQL-запросы</a>
    <a class="header-button users-header-button" th:href="@{../../../../userPage/index}">Пользователи системы</a>
    <a class="header-button logout-button" th:href="@{/logout}">Выход</a>
</header>