<header th:if="${checkUser.isAdmin()}" th:fragment="header"  xmlns:th="">
    <div id="header">
        <a class="header-button" th:href="@{../../../../mainPage/index}">Сотрудники</a>
        <a class="header-button" th:href="@{../../../../childrenPage/index}">Дети сотрудников</a>
        <a class="header-button" th:href="@{../../../../unionMemPubOrgPage/index}">Сотрудники в общественных
            организациях</a>
        <a class="header-button" th:href="@{../../../../publicOrganizationsPage/index}">Общественные организации</a>
        <a class="header-button" th:href="@{../../../../positionsPage/index}">Должности</a>
        <a class="header-button" th:href="@{../../../../unionMembersApplicationsPage/index}">Заявления членов
            профсоюза</a>
        <a class="header-button" th:href="@{../../../../applicationTypesPage/index}">Типы заявлений</a>
        <a class="header-button" th:href="@{../../../../paymentsAmountPage/index}">Суммы выплат</a>
        <a class="header-button" th:href="@{../../../../groundsForFinPayPage/index}">Основания материальных выплат</a>
        <a class="header-button" th:href="@{../../../../meetingMinutesPage/index}">Протоколы заседаний</a>
        <a class="header-button" th:href="@{../../../../reportsPage/index}">Отчеты</a>
        <a class="header-button" th:href="@{../../../../sqlPage/index}">SQL-запросы</a>
        <a class="header-button" th:href="@{../../../../userPage/index}">Пользователи системы</a>
        <a class="header-button" th:href="@{/logout}">Выход</a>
    </div>
</header>