<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="application-form" class="application-container" th:action="@{/newSalePage/index}" method="post">
    <div class="some-text">
        Продажа
    </div>

    <div class="child-input-container">
        <input type="text" class="application-input child-input" placeholder="И.О.Фамилия клиента"
               autofocus="true" required="required" th:field="${newApplication.child.clientName}"/>
        <input type="email" class="application-input child-input" placeholder="Электронная почта"
               autofocus="true" required="required" th:field="${newApplication.child.email}"/>
        <input type="text" class="application-input child-input" placeholder="Город"
               autofocus="true" required="required"
               th:field="${newApplication.child.publicOrganization.title}"/>
        <input type="text" id="address-input" class="application-input" placeholder="Адрес"
               autofocus="true" required="required"
               th:field="${newApplication.child.clientAddress}"/>
    </div>

    <div>
        <input type="date" id="date-picker" class="application-input application-date-input" placeholder="Дата продажи"
               autocomplete="off"
               autofocus="true" required="required" th:field="${newApplication.saleDate}"/>
    </div>
    <div class="some-text">
        Книги
    </div>
    <div class="unionMember-input-container">
        <input type="text" list="unionMember-title-data-list" class="application-input unionMember-input" placeholder="Название книги"
               autocomplete="off"
               autofocus="true" required="required" th:field="${newApplication.unionMember.title}" th:data-languages="${bookLanguageList}" th:data-publishers="${bookPublisherList}" th:data-authors="${bookAuthorList}" th:oninput="

                    var val = this.value;
                    var opts = document.getElementById('unionMember-title-data-list').children;
                    for(var i = 0; i<opts.length; i++){
                    console.log(JSON.parse(this.getAttribute('data-authors')));
                        if(opts[i].value===val){
                            document.getElementById('position-input').value = JSON.parse(this.getAttribute('data-authors'))[i];
                            document.getElementById('materialPayment-input').value = JSON.parse(this.getAttribute('data-publishers'))[i];
                            document.getElementById('groundsForFinPayment-input').value = JSON.parse(this.getAttribute('data-languages'))[i];
                            break;
                        }
                    }
               ">
        <datalist id="unionMember-title-data-list">
            <option th:id="${unionMember.bookId}" th:each="unionMember : ${showBookList}" th:value="${unionMember.title}"></option>
        </datalist>
        <input type="text" id="position-input" class="application-input unionMember-input" placeholder="Автор" autocomplete="off"
               autofocus="true" required="required" th:name="unionMember.position.authorName"/>
        <input type="text" id="materialPayment-input" class="application-input unionMember-input" placeholder="Издательство"
               autocomplete="off"
               autofocus="true" required="required"
               th:name="unionMember.materialPayment.publisherTitle"/>
        <input type="text" id="groundsForFinPayment-input" class="application-input unionMember-input" placeholder="Язык" autocomplete="off"
               autofocus="true" required="required"
               th:name="unionMember.groundsForFinPayment.languageName"/>
        <input type="number" id="amount-input" class="application-input" placeholder="Количество" autocomplete="off"
               autofocus="true" required="required" min="0" value="1" th:name="amount"/>
    </div>

    <div class="bottom-application-buttons">
        <button type="submit" class="save-application-button new-application-button">Сохранить</button>
    </div>
    <div class="error-text" th:text="${bookError}">some error</div>
<!--    <script>-->
<!--         var val = this.value;-->
<!--                    var opts = document.getElementById('unionMember-title-data-list').children;-->
<!--                    for(var i = 0; i<opts.length; i++){-->
<!--                        console.log(opts[i]);-->
<!--                        break;-->
<!--                    }-->

<!--    </script>-->
</form>
</body>
</html>