<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="to-new-phoneNumber-button to-something-new-button" href="../newSupplyPage/index.html"
       th:href="@{../../newSupplyPage/index}">Новое поступление</a>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 5%">id</th>
            <th style="width: 20%">Название книги</th>
            <th style="width: 20%">Автор</th>
            <th style="width: 20%">Издательство</th>
            <th style="width: 20%">Жанр</th>
            <th style="width: 20%">Язык</th>
            <th style="width: 10%">Цена</th>
            <th style="width: 5%">Кол-во</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(unionMembers.size() - 1, 0, -1)}" th:with="unionMember=${unionMembers[i]}" class="table-row">

            <td style="text-align: center">
                <div class="unionMember-id" th:text="${unionMember.bookId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-name" th:text="${unionMember.title}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-position" th:text="${unionMember.position.authorName}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-materialPayment" th:text="${unionMember.materialPayment.publisherTitle}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-genre" th:text="${unionMember.genre.genreName}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-groundsForFinPayment" th:text="${unionMember.groundsForFinPayment.languageName}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-price" th:text="${unionMember.getBookPrice()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="unionMember-amount" th:text="${unionMember.getBooksAmount()}">
                </div>
            </td>

            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <dialog id="update-dialog" class="update-dialog dialog">
                    <form th:fragment="unionMember-form" class="unionMember-container"
                          th:action="@{'/mainPage/index/update/'+${unionMember.bookId}}" method="post">
                        <div class="some-text" th:text="'Изменение данных книги ' + ${unionMember.title}">
                            Изменение
                        </div>
                        <div class="unionMember-inputs" >
                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Название книги"
                                   autofocus required="required" th:value="${unionMember.title}" th:name="title"/>
                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Автор"
                                   autofocus required="required" th:value="${unionMember.position.authorName}" th:name="position.authorName"/>
                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Издательство"
                                   autofocus required="required"
                                   th:name="materialPayment.publisherTitle" th:value="${unionMember.materialPayment.publisherTitle}"/>
                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Жанр"
                                   autofocus required="required" th:value="${unionMember.genre.genreName}" th:name="genre.genreName"/>
                            <input type="text" value="loh" class="phoneNumber-input unionMember-input" placeholder="Язык"
                                   autofocus required="required" th:value="${unionMember.groundsForFinPayment.languageName}" th:name="groundsForFinPayment.languageName"/>
                        </div>
                        <!--                        <input type="text" name="username" class="user-input" placeholder="Имя пользователя"-->
                        <!--                               autofocus="true" required="required" th:value="${user.username}" th:field="${updateUser.username}"/>-->
                        <!--                        <input type="text" name="password" class="user-input" placeholder="Пароль"-->
                        <!--                               autofocus="true" required="required" th:field="${updateUser.password}"/>-->
                        <div class="bottom-unionMember-buttons">
                            <button type="submit" class="confirm-update-unionMember-button dialog-button">Изменить</button>
                            <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                        </div>
                    </form>
                    <!--        <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">some error error error error error</span>-->
                    <!--        <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">some error error error error error</span>-->
                </dialog>
                <a class="unionMember-update-button open-update-dialog open-dialog" th:onclick="
                    let tdParent = this.closest('td');
                    let dialogCloseButton = tdParent.querySelector('.unionMember-container').querySelector('.bottom-unionMember-buttons').querySelector('.close-update-dialog');
                    let updateDialog = tdParent.querySelector('#update-dialog');
                    updateDialog.show();
                    dialogCloseButton.onclick = function(){
                    updateDialog.close();}">Изменить
                </a>
            </td>

            <td style="text-align: center" class="delete-button-td" th:if="${checkUser.isAdmin()}">
                <dialog id="delete-dialog" class="delete-dialog dialog">
                    <div class="some-text" th:text="'Вы действительно хотите удалить книгу ' + ${unionMember.title} + '?'">
                        Удаление
                    </div>
                    <a class="dialog-button" id="confirm-delete-unionMember-button"
                       th:href="@{'/mainPage/index/delete/'+${unionMember.bookId}}">Да</a>
                    <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                </dialog>
                <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                <a class="unionMember-delete-button open-delete-dialog open-dialog" th:onclick="
                    let tdParent = this.closest('td');
                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                    deleteDialog.show();
                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                    deleteDialog.close();}">Удалить
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
