<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 5%">id</th>
            <th style="width: 20%">Фамилия И.О.</th>
            <th style="width: 20%">Электронная почта</th>
<!--            <th style="width: 20%">Номер телефона</th>-->
            <th style="width: 20%">Адрес</th>
            <th style="width: 15%">Город</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(clients.size() - 1, 0, -1)}" th:with="child=${clients[i]}" class="table-row">
            <td style="text-align: center">
                <div class="child-id" th:text="${child.clientId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="child-name" th:text="${child.clientName}">
                </div>
            </td>
            <td style="text-align: center" >
                <div class="child-email" th:text="${child.email}">
                </div>
            </td>
<!--            <td style="text-align: center">-->
<!--                <div class="child-phone" th:text="${child.phone}">-->
<!--                </div>-->
<!--            </td>-->
            <td style="text-align: center">
                <div class="child-address" th:text="${child.clientAddress}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="child-publicOrganization" th:text="${child.publicOrganization.title}">
                </div>
            </td>

            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <dialog id="update-dialog" class="update-dialog dialog">
                    <form th:fragment="child-form" class="child-container"
                          th:action="@{'/clientsPage/index/update/'+${child.clientId}}" method="post">
                        <div class="some-text" th:text="'Изменение данных клиента ' + ${child.clientName}">
                            Изменение
                        </div>
                        <div class="child-inputs" >
                            <input type="text" class="phoneNumber-input child-input" placeholder="Фамилия И.О."
                                   autofocus required="required" th:value="${child.clientName}" th:name="clientName"/>
                            <input type="email" class="phoneNumber-input child-input" placeholder="Электронная почта"
                                   autofocus required="required" th:value="${child.email}" th:name="email"/>
                            <input type="text" class="phoneNumber-input child-input" placeholder="Адрес"
                                   autofocus required="required"
                                   th:name="clientAddress" th:value="${child.clientAddress}"/>
                            <input type="text" class="phoneNumber-input child-input" placeholder="Город"
                                   autofocus required="required" th:value="${child.publicOrganization.title}" th:name="publicOrganization.title"/>
                        </div>
                        <div class="bottom-child-buttons">
                            <button type="submit" class="confirm-update-child-button dialog-button">Изменить</button>
                            <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                        </div>
                    </form>
                </dialog>
                <a class="child-update-button open-update-dialog open-dialog" th:onclick="
                    let tdParent = this.closest('td');
                    let dialogCloseButton = tdParent.querySelector('.child-container').querySelector('.bottom-child-buttons').querySelector('.close-update-dialog');
                    let updateDialog = tdParent.querySelector('#update-dialog');
                    updateDialog.show();
                    dialogCloseButton.onclick = function(){
                    updateDialog.close();}">Изменить
                </a>
            </td>

            <td style="text-align: center" class="delete-button-td" th:if="${checkUser.isAdmin()}">
                <dialog id="delete-dialog" class="delete-dialog dialog">
                    <div class="some-text" th:text="'Вы действительно хотите удалить клиента ' + ${child.clientName} + '?'">
                        Удаление
                    </div>
                    <a class="dialog-button" id="confirm-delete-child-button"
                       th:href="@{'/clientsPage/index/delete/'+${child.clientId}}">Да</a>
                    <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                </dialog>
                <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                <a class="child-delete-button open-delete-dialog open-dialog" th:onclick="
                    let tdParent = this.closest('td');
                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                    deleteDialog.show();
                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                    deleteDialog.close();}">Удалить
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
