<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="../../static/css/register.css" th:rel="stylesheet"
          th:href="@{/css/register.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700}" th:rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/signFormElements.css" th:rel="stylesheet"
          th:href="@{/css/signFormElements.css}">
</head>

<body>
<!--<header th:replace="generalElements/header :: header"></header>-->
<main id="main">
    <div class="container" th:replace="signUpPage/registrationForm :: container">
    </div>
</main>
<!--<footer th:replace="commonElements/footer :: footer">someFooter</footer>-->
</body>

</html>