<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700}"
          th:rel="stylesheet">
</head>

<div class="container" th:fragment="container" th:object="${userForm}">
    <form method="POST" class="form-sign-up" th:action="@{/signUpPage/index}">
        <div class="form-heading" th:text="'Регистрация'">Create your account</div>
        <div class="inputs" id="inputs">
            <div class="column" >
                <div class="form-group">
                    <input name="username" type="text" class="form-control"
                           placeholder="Username" th:placeholder="'Имя пользователя'"
                           autofocus="true" th:field="*{username}" required="required">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"
                           th:placeholder="'Пароль'" th:field="*{password}" required="required">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control"
                           placeholder="Confirm your password"
                           th:placeholder="'Повторите пароль'" th:field="*{passwordConfirm}" required="required">
                </div>
            </div>
        </div>

        <button id="sign-up-button" class="btn btn-lg btn-primary btn-block" th:text="'Зарегистрироваться'"
                type="submit">Sign Up
        </button>

        <div id="log-in-text-div">
            <div th:text="'Уже имеете аккаунт?'">Already have an account?</div>
            <div>
                <a id="to-log-in-button" th:href="@{../logInPage/index}"
                   th:text="'Войти'">Log in!</a>
            </div>
        </div>

    </form>
    <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">some error error error error error</span>
    <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">some error error error error error</span>
    <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
          th:errors="*{passwordConfirm}">some error error error error error</span>
</div>
