<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-child-form" class="new-child-container"
                  th:action="@{/childrenPage/index/add}" method="post">
                <div class="some-text" th:text="'Новый ребенок'">
                </div>
                <div class="new-child-inputs new-inputs">
                    <input type="text" class="surname-input new-child-input" placeholder="Фамилия"
                           autofocus required="required" th:field="${newChild.surname}"/>
                    <input type="text" class="name-input new-child-input" placeholder="Имя"
                           autofocus required="required" th:field="${newChild.name}"/>
                    <input type="text" class="patronymic-input new-child-input" placeholder="Отчество"
                           autofocus required="required" th:field="${newChild.patronymic}"/>
                    <input type="date" class="birthdate-input new-child-input" placeholder="Дата рождения"
                           autofocus="true" required="required" th:field="${newChild.birthdate}"/>
                    <select name="gender" th:field="${newChild.gender.genderId}">
                        <option disabled value="">Выберите пол</option>
                        <option th:each="gender : ${genders}" th:value="${gender.genderId}" th:utext="${gender.genderTitle}"></option>
                    </select>

                    <select name="unionMember1" th:field="${newChild.unionMembers[0].unionMemberId}">
                        <option disabled value="">Выберите первого родителя</option>
                        <option th:each="unionMember : ${unionMembers}" th:value="${unionMember.unionMemberId}" th:utext="${unionMember.getIdAndName()}"></option>
                    </select>
                    <select name="unionMember2" th:field="${newChild.unionMembers[1].unionMemberId}">
                        <option disabled value="">Выберите второго родителя</option>
                        <option th:each="unionMember : ${unionMembers}" th:value="${unionMember.unionMemberId}" th:utext="${unionMember.getIdAndName()}"></option>
                    </select>
                </div>
                <div class="bottom-new-child-buttons">
                    <button type="submit" class="confirm-add-new-child-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>

        </dialog>
        <a class="new-child-add-button open-add-dialog open-dialog" th:onclick="
                            let divParent = this.closest('div');
                            let dialogCloseButton = divParent.querySelector('.new-child-container').querySelector('.bottom-new-child-buttons').querySelector('.close-add-dialog');
                            let addDialog = divParent.querySelector('#add-dialog');
                            addDialog.show();
                            dialogCloseButton.onclick = function(){
                            addDialog.close();}">Добавить ребенка
        </a>
        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект">Распечатать</a>
    </div>

            <table class="table">
                <thead>
                <tr>
                    <th style="width: 5%">id род.</th>
                    <th style="width: 10%">Фамилия род.</th>
                    <th style="width: 10%">Имя род.</th>
                    <th style="width: 10%">Отчество род.</th>
                    <th style="width: 5%">id реб.</th>
                    <th style="width: 10%">Фамилия реб.</th>
                    <th style="width: 10%">Имя реб.</th>
                    <th style="width: 10%">Отчество реб.</th>
                    <th style="width: 10%">Дата рождения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${#numbers.sequence(parentsChildren.size() - 1, 0, -1)}"
                    th:with="parentChild=${parentsChildren[i]}" class="table-row">

                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.unionMemberId}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.surname}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.name}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.unionMember.patronymic}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.unionMemberId}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.surname}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.name}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.patronymic}">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="table-cell" th:text="${parentChild.child.getDateInNormalFormat()}">
                        </div>
                    </td>

                    <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                        <div class="table-cell">
                            <dialog id="update-dialog" class="update-dialog dialog">
                                <form th:fragment="update-child-form" class="update-child-container"
                                      th:action="@{'/childrenPage/index/update/'+${parentChild.child.childId}}" method="post">
                                    <div class="some-text" th:text="'Изменение ребенка'">
                                    </div>
                                    <div class="update-child-inputs update-inputs">
                                        <input type="text" class="surname-input update-child-input" placeholder="Фамилия"
                                               autofocus required="required" th:value="${parentChild.child.surname}" th:name="surname"/>
                                        <input type="text" class="name-input update-child-input" placeholder="Имя"
                                               autofocus required="required" th:value="${parentChild.child.name}" th:name="name"/>
                                        <input type="text" class="patronymic-input update-child-input" placeholder="Отчество"
                                               autofocus required="required" th:value="${parentChild.child.patronymic}" th:name="patronymic"/>
                                        <input type="date" class="birthdate-input update-child-input"
                                               placeholder="Дата рождения"
                                               autofocus="true" required="required" th:value="${parentChild.child.birthdate}" th:name="birthdate"/>
                                        <select name="gender" th:value="${parentChild.child.gender.genderId}" th:name="gender.genderId">
                                            <option disabled value="">Выберите пол</option>
                                            <option th:each="gender : ${genders}" th:value="${gender.genderId}"
                                                    th:utext="${gender.genderTitle}"></option>
                                        </select>

                                        <select name="unionMember1" th:field="${updateChild.unionMembers[0].unionMemberId}">
                                            <option disabled value="">Выберите первого родителя</option>
                                            <option th:each="unionMember : ${unionMembers}" th:value="${unionMember.unionMemberId}" th:utext="${unionMember.getIdAndName()}"></option>
                                        </select>
                                        <select name="unionMember2" th:field="${updateChild.unionMembers[1].unionMemberId}">
                                            <option disabled value="">Выберите второго родителя</option>
                                            <option th:each="unionMember : ${unionMembers}" th:value="${unionMember.unionMemberId}" th:utext="${unionMember.getIdAndName()}"></option>
                                        </select>

                                    </div>
                                    <div class="bottom-update-child-buttons">
                                        <button type="submit" class="confirm-update-child-button dialog-button">Изменить
                                        </button>
                                        <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                                    </div>
                                </form>

                            </dialog>
                            <a class="child-update-button open-update-dialog open-dialog" th:onclick="
                                let tdParent = this.closest('td');
                                let dialogCloseButton = tdParent.querySelector('.update-child-container').querySelector('.bottom-update-child-buttons').querySelector('.close-update-dialog');
                                let updateDialog = tdParent.querySelector('#update-dialog');
                                updateDialog.show();
                                dialogCloseButton.onclick = function(){
                                updateDialog.close();}">Изменить
                            </a>
                        </div>
                    </td>

                    <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                        <div class="table-cell">
                            <dialog id="delete-dialog" class="delete-dialog dialog">
                                <div class="some-text"
                                     th:text="'Вы действительно хотите удалить ребенка с id ' + ${parentChild.child.childId} + '?'">
                                    Удаление
                                </div>
                                <a class="dialog-button" id="confirm-delete-child-button"
                                   th:href="@{'/childrenPage/index/delete/'+${parentChild.child.childId}}">Да</a>
                                <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                            </dialog>
                            <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                            <a class="child-delete-button open-delete-dialog open-dialog" th:onclick="
                                    let tdParent = this.closest('td');
                                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                                    deleteDialog.show();
                                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                                    deleteDialog.close();}">Удалить
                            </a>
                        </div>
                    </td>
<!--            <td style="text-align: center" th:if="${checkUser.isAdmin()}">-->
<!--                <dialog id="update-dialog" class="update-dialog dialog">-->
<!--                    <form th:fragment="unionMember-form" class="unionMember-container"-->
<!--                          th:action="@{'/mainPage/index/update/'+${unionMember.bookId}}" method="post">-->
<!--                        <div class="some-text" th:text="'Изменение данных книги ' + ${unionMember.title}">-->
<!--                            Изменение-->
<!--                        </div>-->
<!--                        <div class="unionMember-inputs" >-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Название книги"-->
<!--                                   autofocus required="required" th:value="${unionMember.title}" th:name="title"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Автор"-->
<!--                                   autofocus required="required" th:value="${unionMember.position.authorName}" th:name="position.authorName"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Издательство"-->
<!--                                   autofocus required="required"-->
<!--                                   th:name="materialPayment.publisherTitle" th:value="${unionMember.materialPayment.publisherTitle}"/>-->
<!--                            <input type="text" class="phoneNumber-input unionMember-input" placeholder="Жанр"-->
<!--                                   autofocus required="required" th:value="${unionMember.genre.genreName}" th:name="genre.genreName"/>-->
<!--                            <input type="text" value="loh" class="phoneNumber-input unionMember-input" placeholder="Язык"-->
<!--                                   autofocus required="required" th:value="${unionMember.groundsForFinPayment.languageName}" th:name="groundsForFinPayment.languageName"/>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <input type="text" name="username" class="user-input" placeholder="Имя пользователя"&ndash;&gt;-->
<!--                        &lt;!&ndash;                               autofocus="true" required="required" th:value="${user.username}" th:field="${updateUser.username}"/>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <input type="text" name="password" class="user-input" placeholder="Пароль"&ndash;&gt;-->
<!--                        &lt;!&ndash;                               autofocus="true" required="required" th:field="${updateUser.password}"/>&ndash;&gt;-->
<!--                        <div class="bottom-unionMember-buttons">-->
<!--                            <button type="submit" class="confirm-update-unionMember-button dialog-button">Изменить</button>-->
<!--                            <button type="button" class="close-update-dialog dialog-button">Отмена</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    &lt;!&ndash;        <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">some error error error error error</span>&ndash;&gt;-->
<!--                    &lt;!&ndash;        <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">some error error error error error</span>&ndash;&gt;-->
<!--                </dialog>-->
<!--                <a class="unionMember-update-button open-update-dialog open-dialog" th:onclick="-->
<!--                    let tdParent = this.closest('td');-->
<!--                    let dialogCloseButton = tdParent.querySelector('.unionMember-container').querySelector('.bottom-unionMember-buttons').querySelector('.close-update-dialog');-->
<!--                    let updateDialog = tdParent.querySelector('#update-dialog');-->
<!--                    updateDialog.show();-->
<!--                    dialogCloseButton.onclick = function(){-->
<!--                    updateDialog.close();}">Изменить-->
<!--                </a>-->
<!--            </td>-->

<!--            <td style="text-align: center" class="delete-button-td" th:if="${checkUser.isAdmin()}">-->
<!--                <dialog id="delete-dialog" class="delete-dialog dialog">-->
<!--                    <div class="some-text" th:text="'Вы действительно хотите удалить книгу ' + ${unionMember.title} + '?'">-->
<!--                        Удаление-->
<!--                    </div>-->
<!--                    <a class="dialog-button" id="confirm-delete-unionMember-button"-->
<!--                       th:href="@{'/mainPage/index/delete/'+${unionMember.bookId}}">Да</a>-->
<!--                    <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>-->
<!--                </dialog>-->
<!--                &lt;!&ndash;                th:href="@{'/userPage/index/delete/id='+${user.userId}}"&ndash;&gt;-->
<!--                <a class="unionMember-delete-button open-delete-dialog open-dialog" th:onclick="-->
<!--                    let tdParent = this.closest('td');-->
<!--                    let deleteDialog = tdParent.querySelector('#delete-dialog');-->
<!--                    deleteDialog.show();-->
<!--                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){-->
<!--                    deleteDialog.close();}">Удалить-->
<!--                </a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
