<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-meeting-minute-form" class="new-meeting-minute-container"
                  th:action="@{/meetingMinutesPage/index/add}" method="post">
                <div class="some-text" th:text="'Новый протокол заседания'">
                </div>
                <div class="new-meeting-minute-inputs new-inputs">
                    <input class="title-input new-meeting-minute-input" placeholder="Номер протокола"
                           autofocus required="required" th:field="${newMeetingMinute.meetingMinuteNumber}"/>
                    <input type="date" class="date-input new-meeting-minute-input" placeholder="Дата протокола"
                           autofocus="true" required="required" th:field="${newMeetingMinute.meetingMinuteDate}"/>
                    <input class="title-input new-meeting-minute-input" placeholder="Тема заседания"
                           autofocus required="required" th:field="${newMeetingMinute.meetingMinuteTheme}"/>
                </div>
                <div class="bottom-new-meeting-minute-buttons">
                    <button type="submit" class="confirm-add-new-meeting-minute-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>
        </dialog>
        <a class="new-meeting-minute-add-button open-add-dialog open-dialog" th:onclick="
                            let divParent = this.closest('div');
                            let dialogCloseButton = divParent.querySelector('.new-meeting-minute-container').querySelector('.bottom-new-meeting-minute-buttons').querySelector('.close-add-dialog');
                            let addDialog = divParent.querySelector('#add-dialog');
                            addDialog.show();
                            dialogCloseButton.onclick = function(){
                            addDialog.close();}">Добавить протокол заседания
        </a>
        <a onClick="javascript:CallPrint('.table');" title="Распечатать проект">Распечатать</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%">id</th>
            <th style="width: 15%">Номер протокола</th>
            <th style="width: 15%">Дата протокола</th>
            <th style="width: 40%">Тема заседания</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(meetingMinutesTable.size() - 1, 0, -1)}" th:with="meetingMinute=${meetingMinutesTable[i]}" class="table-row">
            <td style="text-align: center">
                <div class="table-cell" th:text="${meetingMinute.meetingMinuteId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${meetingMinute.meetingMinuteNumber}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${meetingMinute.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${meetingMinute.meetingMinuteTheme}">
                </div>
            </td>



            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="update-dialog" class="update-dialog dialog">
                        <form th:fragment="update-meeting-minute-type-form" class="update-meeting-minute-type-container"
                              th:action="@{'/meetingMinutesPage/index/update/'+${meetingMinute.meetingMinuteId}}" method="post">
                            <div class="some-text" th:text="'Изменение протокола заседания'">
                            </div>
                            <div class="update-meeting-minute-type-inputs update-inputs">
                                <input class="title-input update-meeting-minute-input" placeholder="Номер протокола"
                                       autofocus required="required" th:value="${meetingMinute.meetingMinuteNumber}" name="meetingMinuteNumber"/>
                                <input type="date" class="date-input update-meeting-minute-input" placeholder="Дата протокола"
                                       autofocus="true" required="required" th:value="${meetingMinute.meetingMinuteDate}" name="meetingMinuteDate"/>
                                <input class="title-input update-meeting-minute-input" placeholder="Тема заседания"
                                       autofocus required="required" th:value="${meetingMinute.meetingMinuteTheme}" name="meetingMinuteTheme"/>
                            </div>
                            <div class="bottom-update-meeting-minute-type-buttons">
                                <button type="submit" class="confirm-update-meeting-minute-type-button dialog-button">Изменить
                                </button>
                                <button type="button" class="close-update-dialog dialog-button">Отмена</button>
                            </div>
                        </form>

                    </dialog>
                    <a class="meeting-minute-type-update-button open-update-dialog open-dialog" th:onclick="
                                let tdParent = this.closest('td');
                                let dialogCloseButton = tdParent.querySelector('.update-meeting-minute-type-container').querySelector('.bottom-update-meeting-minute-type-buttons').querySelector('.close-update-dialog');
                                let updateDialog = tdParent.querySelector('#update-dialog');
                                updateDialog.show();
                                dialogCloseButton.onclick = function(){
                                updateDialog.close();}">Изменить
                    </a>
                </div>
            </td>

            <td style="text-align: center" th:if="${checkUser.isAdmin()}">
                <div class="table-cell">
                    <dialog id="delete-dialog" class="delete-dialog dialog">
                        <div class="some-text"
                             th:text="'Вы действительно хотите удалить протокол заседания с id ' + ${meetingMinute.meetingMinuteId} + '?'">
                            Удаление
                        </div>
                        <a class="dialog-button" id="confirm-delete-meeting-minute-type-button"
                           th:href="@{'/meetingMinutesPage/index/delete/'+${meetingMinute.meetingMinuteId}}">Да</a>
                        <button id="close-delete-dialog-button" class="dialog-button" autofocus>Нет</button>
                    </dialog>
                    <!--                th:href="@{'/userPage/index/delete/id='+${user.userId}}"-->
                    <a class="meeting-minute-type-delete-button open-delete-dialog open-dialog" th:onclick="
                                    let tdParent = this.closest('td');
                                    let deleteDialog = tdParent.querySelector('#delete-dialog');
                                    deleteDialog.show();
                                    tdParent.querySelector('#close-delete-dialog-button').onclick = function(){
                                    deleteDialog.close();}">Удалить
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
