<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="phoneNumber-form" class="phoneNumber-container" th:action="@{/newSupplyPage/index}" method="post">
    <div class="some-text">
        Поступление
    </div>
    <div>
        <input type="text" class="phoneNumber-input phoneNumber-detail-input" placeholder="Поставщик"
               autofocus="true" required="required" th:value="${newPhoneNumber.meetingMinute.supplierName}" th:field="${newPhoneNumber.meetingMinute.supplierName}"/>
    </div>
    <div>
        <input type="date" id="date-picker" class="phoneNumber-input phoneNumber-detail-input" placeholder="Дата поступления"
               autofocus="true" required="required" th:value="${newPhoneNumber.supplyDate}" th:field="${newPhoneNumber.supplyDate}"/>

    </div>
    <div class="some-text">
        Книги
    </div>
    <div th:each="s, sStat : ${newPhoneNumber.supplyDetails}" class="unionMember-input-container">
        <input type="text" class="phoneNumber-input unionMember-input" placeholder="Название книги"
               autofocus="true" required="required" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].unionMember.title}"/>
        <input type="text" class="phoneNumber-input unionMember-input" placeholder="Автор"
               autofocus="true" required="required" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].unionMember.position.authorName}"/>
        <input type="text" class="phoneNumber-input unionMember-input" placeholder="Издательство"
               autofocus="true" required="required" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].unionMember.materialPayment.publisherTitle}"/>
        <input type="text" class="phoneNumber-input unionMember-input" placeholder="Жанр"
               autofocus="true" required="required" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].unionMember.genre.genreName}"/>
        <input type="text" class="phoneNumber-input unionMember-input" placeholder="Язык"
               autofocus="true" required="required" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].unionMember.groundsForFinPayment.languageName}"/>
        <input type="number" step="0.01" class="phoneNumber-input unionMember-input" placeholder="Цена одной книги"
               autofocus="true" required="required" min="0" th:value="${s.price}" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].price}"/>
        <input type="number" id="amount-input" class="phoneNumber-input" placeholder="Количество"
               autofocus="true" required="required" min="0" th:value="${s.amount}" th:field="${newPhoneNumber.supplyDetails[__${sStat.index}__].amount}"/>
    </div>

    <div class="bottom-phoneNumber-buttons">
        <div class="add-delete-unionMember-buttons">
            <a class="add-unionMember-button new-phoneNumber-button" th:href="@{/newSupplyPage/index/addBook}">Добавить книгу</a>
            <a class="delete-unionMember-button new-phoneNumber-button" th:href="@{/newSupplyPage/index/removeBook}">Убрать
                книгу</a>
        </div>
        <button type="submit" class="save-phoneNumber-button new-phoneNumber-button">Сохранить</button>
    </div>
</form>


</body>
</html>