.dialog{
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:50%;
    transform: translate(0, -50%);
    background-color: #333333;
    color:#eeeeee;
    font-size:20px;
    border-radius: 10px;
    border-color: #777777;
    padding: 20px;
    max-width:500px;
}

.new-inputs, .update-inputs, .delete-inputs{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
}

select, input{
    font-size: 15px;
    background-color: #444444;
    color: #dddddd;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-button{
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    background-color: #444444;
    color: #dddddd;
    padding: 10px;
}

.dialog-button:hover, .open-dialog:hover{
    background-color:#555555;
    cursor: pointer;
}

.some-text{
 white-space: pre-wrap;
    text-align: center;
    margin: 20px;
}

.open-dialog{
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-grow: 0;
}


