* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 3fr ;
}

.main {
    width: 100%;
}



