* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.main {
    width: 100%;
}

.main-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

.table {
}

.to-something-new-button{
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    font-size: 20px;
    padding: 15px;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.to-something-new-button:hover{
    background-color: #eeeeee;

}

.book-inputs{
display: grid;
grid-template-columns: 1fr 1fr;
}