#header{
    color: #777333;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    min-width: 400px;
}

.header-button{
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
    color: #dddddd;
    margin: 5px;
    border-radius: 5px;
}

.header-button:hover{
    background-color: #444444;

}
