body{
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
}

.container{
    width: 500px;
    height: 435px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.form-log-in {
    background-color: #333333;
    width: 500px;
    height: 360px;
    position: absolute;
    border-radius: 10px;
}

#log-in-button {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 60px;
    font-size: 20px;
    color: #dddddd;
    background-color: #444444;
    border: 0;
    border-radius: 5px;
}

#register-text-div {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 30px;
    color: #dddddd;
}

#log-in-button:hover{
    color: #dddddd;
    cursor: pointer;
    background-color: #555555;
}

.has-error{
    color: #dddddd;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, 0);
}
