.user-container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.user-input {
    font-size: 15px;
    padding: 10px;
    color: #333333;
    border: 1px solid #333333;
    margin-top: 20px;
    width: 20vw;
}

.some-text {
    color: #333333;
    font-size: 25px;
    margin-top: 20px;
}

.new-user-button{
    margin-top: 20px;
    width: 20vw;
    padding: 10px;
    border: 1px solid #333333;
    font-size: 15px;
    color: #333333;
}

.bottom-user-buttons{
    margin-top: 20px    ;
    display: flex;
    flex-direction: column;
}

.new-user-button:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
