.second-page {
    height: 100vh;
    background-color: #ededed;
    display: flex;
    align-items: center;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    background-color: #cccccc;
    height: 70vh;
    
}

.gallery {
    display: flex;
    flex-direction: column;

}

.up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px;
    color: #444444;
}

.up-button {
    
}

.side-button{
    text-align: center;
    vertical-align: middle;
    width: 10vh;
    background-color: #dddddd;
}

.image-place {
    display: flex;
    flex-direction: row;

}