.second-page {
    height: 100vh;
    background-color: #ededed;
    display: flex;
    align-items: center;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    background-color: #cccccc;
    height: 70vh;
    /* margin: 20px; */
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.gallery {
    display: flex;
    flex-direction: column;
}

.up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
    color: #444444;
}

.up-button {
    
}

.side-button{
    display: flex;
    width: 10vh;
    border-radius: 10px;
}

/* .side-button:hover{
    background-color: #dddddd;
    cursor: pointer;
} */

.image-place {
    display: flex;
    flex-direction: row;

}

.arrow-image-right{
    width: 10vh;
    height: 10vh;   
    display: inline-block;
}

.arrow-image-left{
    width: 10vh;
    height: 10vh;
    display: inline-block;
    transform: rotate(180deg);
}

.arrow{
    display: block;
    width: 10vh;
    height: 10vh;
margin: auto;
}

@keyframes sideButtonHover {
    from {
        background-color: #ededed;
        cursor: default;
    }
  
    to {
        background-color: #dddddd;
        cursor: pointer;
    }
  }
  
  @keyframes sideButtonHoverReverse {
    to {
        background-color: #ededed;
        cursor: pointer;
    }
  
    from {
        background-color: #dddddd;
        cursor: default;
    }
  }


