.form-control {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: #444444;
    padding-left: 5%;
    padding-right: 5%;
    color: #dddddd;
    border: 0;
    border-radius: 5px;
}

.form-heading {
    margin: 20px;
    font-size: 30px;
    color: #dddddd;
}
