<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="user-form" class="user-container" th:action="@{/newUserPage/index}" method="post">
    <div class="some-text">
        Сотрудник
    </div>
    <input type="text" class="user-input book-input" placeholder="Имя пользователя"
           autofocus="true" required="required" th:field="${newUser.username}"/>
    <input type="text" class="user-input book-input" placeholder="Пароль"
           autofocus="true" required="required" th:field="${newUser.password}"/>
    <div class="bottom-user-buttons">
        <button type="submit" class="save-user-button new-user-button">Сохранить</button>
    </div>
</form>
<span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">some error error error error error</span>
<span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">some error error error error error</span>
</body>
</html>